export(dispatch_stage)
export(io_roundtrip)
export(prism_figure_theme)
export(prism_dot_plot)
export(render_prism_png)
export(png_size)
export(figure_font_status)
export(check_prism_style)
export(layer_data_strings)
export(theme_report)
export(render_catalogue_png)
